<!DOCTYPE html>
<html lang="en" dir="ltr" class="safe-area">
  <head>
    <meta charset="UTF-8" />
    <title>Action Sheet Test</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link href="../../../../../css/ionic.bundle.css" rel="stylesheet" />
    <link href="../../../../../scripts/testing/styles.css" rel="stylesheet" />
    <script src="../../../../../scripts/testing/scripts.js"></script>
    <script nomodule src="../../../../../dist/ionic/ionic.js"></script>
    <script type="module" src="../../../../../dist/ionic/ionic.esm.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      std-action-sheet-content {
        margin-bottom: var(--ion-safe-area-bottom);
      }

      ion-backdrop {
        --backdrop-opacity: 0.9;
      }

      ion-icon {
        font-size: 20px;
      }
    </style>
  </head>

  <body>
    <button id="open-sheet">Open Action Sheet</button>

    <std-action-sheet trigger="open-sheet">
      <ion-backdrop class="bg-slate-900"></ion-backdrop>
      <std-action-sheet-content class="w-full px-4 py-4 max-w-sm">
        <div class="overflow-hidden mb-4 text-base font-medium text-white">
          <std-action-sheet-button role="confirm" data="action-1-data">
            <button class="h-12 px-2 w-full py-2 text-left flex items-center">
              <ion-icon class="mr-2" name="heart-outline"></ion-icon>
              Like
            </button>
          </std-action-sheet-button>

          <std-action-sheet-button role="confirm" data="action-1-data">
            <button class="h-12 px-2 w-full py-2 text-left flex items-center">
              <ion-icon class="mr-2" name="remove-circle-outline"></ion-icon>
              Remove from this playlist
            </button>
          </std-action-sheet-button>

          <std-action-sheet-button role="confirm" data="action-1-data">
            <button class="h-12 px-2 w-full py-2 text-left flex items-center">
              <ion-icon class="mr-2" name="musical-notes-outline"></ion-icon>
              Add to playlist
            </button>
          </std-action-sheet-button>

          <std-action-sheet-button role="confirm" data="action-1-data">
            <button class="h-12 px-2 w-full py-2 text-left flex items-center">
              <ion-icon class="mr-2" name="list-outline"></ion-icon>
              Add to queue
            </button>
          </std-action-sheet-button>

          <std-action-sheet-button role="confirm" data="action-1-data">
            <button class="h-12 px-2 w-full py-2 text-left flex items-center">
              <ion-icon class="mr-2" name="share-outline"></ion-icon>
              Share
            </button>
          </std-action-sheet-button>

          <std-action-sheet-button role="confirm" data="action-1-data">
            <button class="h-12 px-2 w-full py-2 text-left flex items-center">
              <ion-icon class="mr-2" name="radio-outline"></ion-icon>
              Go to radio
            </button>
          </std-action-sheet-button>

          <std-action-sheet-button role="confirm" data="action-1-data">
            <button class="h-12 px-2 w-full py-2 text-left flex items-center">
              <ion-icon class="mr-2" name="disc-outline"></ion-icon>
              Go to album
            </button>
          </std-action-sheet-button>
        </div>
      </std-action-sheet-content>
    </std-action-sheet>

    <div id="response"></div>

    <script>
      const actionSheet = document.querySelector('std-action-sheet');
      const response = document.querySelector('#response');
      actionSheet.addEventListener('didDismiss', (ev) => {
        response.innerHTML = JSON.stringify(ev.detail)
      });


    </script>
  </body>
</html>
