@import "./segment";
@import "./segment.ios.vars";

// iOS Segment
// --------------------------------------------------

:host {
  --background: #{$segment-ios-background-color};

  @include border-radius($segment-ios-border-radius);

  overflow: hidden;

  z-index: 0;
}


// Segment: Color
// --------------------------------------------------

:host(.ion-color) {
  background: #{current-color(base, 0.065)};
}


// Segment: Default Toolbar
// --------------------------------------------------
// iOS segments in a toolbar should be as wide as the
// contents of their buttons rather than take up the
// full width of the toolbar. this requires the width
// to be set to auto on the segment and the toolbar
// to be set to inline-flex.

:host(.in-toolbar) {
  @include margin(0, auto);

  width: auto;
}

// Default Segment, In a Toolbar
:host(.in-toolbar:not(.ion-color)) {
  background: var(--ion-toolbar-segment-background, var(--background));
}


// Segment: Color Toolbar
// --------------------------------------------------

// Toolbar with Color, Default Segment
:host(.in-toolbar-color:not(.ion-color)) {
  background: #{current-color(contrast, 0.11)};
}
