@import "../../themes/ionic.globals";

// Segment
// --------------------------------------------------

:host {
  /**
   * @prop --background: Background of the segment button
   */
  --ripple-color: currentColor;

  @include font-smoothing();

  // The segment needs to be an inline-grid in order to
  // properly size the segment buttons so that they are
  // all equal width, with the width of each being
  // equal to that of the widest button
  display: inline-grid;
  grid-auto-columns: 1fr;

  position: relative;

  align-items: stretch;
  justify-content: center;

  width: 100%;

  background: var(--background);

  font-family: $font-family-base;

  text-align: center;

  contain: paint;

  user-select: none;
}


// Segment: Scrollable
// --------------------------------------------------

:host(.segment-scrollable) {
  justify-content: start;

  width: auto;

  overflow-x: auto;
}

:host(.segment-scrollable::-webkit-scrollbar) {
  display: none;
}
